@let vm = viewModel();
@if (vm.mode === GroupMode.All) {
  <div class="flex flex-col gap-2 list-none m-0 p-0">
    @for (contestant of vm.list; track trackByDragName($index, contestant)) {
      <app-contestant-card [contestant]="contestant" />
    }
  </div>
} @else if (vm.sections.length) {
  <div class="flex flex-col gap-5">
    @for (group of vm.sections; track group.key) {
      <app-contestant-group-section
        [title]="group.key"
        [contestants]="group.contestants"
        [groupMode]="vm.mode"
        [displayedSeason]="group.season"
      />
    }
  </div>
} @else if (vm.sections !== null) {
  <p class="text-sm text-[var(--color-text-muted)] py-4">{{ 'common.noResults' | translate }}</p>
}
